* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(243, 241, 241);
}
.header {
    background-color: #428ed4;
    height: 40%;
    text-align: center;
    color: aliceblue;
    font-weight: 100;
    padding: 3rem;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50px;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.content {
    margin: 0;
    padding: 3rem;
}
.introduction {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.next_content {
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    
}

.img_container {
    
    width: 500px;   
    height: 450px;   
    overflow: hidden;
}

#image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    height: 100%;
    
}

.student {
    border-radius: 10px;
    margin: 0.7rem;
}

.p1, .p2{
    width: 500px;
    text-align: justify;
    background-color: #3d6d8d;
    color: white;
    border-radius: 0 0 10px 10px;
}
 #paragraph {
    padding: 1rem;
 }

footer {
    background-color: #005691;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}
#name {
    margin: 0;
    padding: 20px;
}
h1,h2,h3 {
    margin: 2rem;
}
